{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/actualizar-s.css' %}">
    <title>Actualizar Semestre</title>
</head>
<body>
    <div class="Principal">
        <div class="contenedor">
            <div class="header">
                <a class="Usuario" href="{% url 'app:Coordinador' %}"><h1>Coordinador</h1></a>
                <a class="salir" href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
            </div>
            <div class="contenedorbarra1">
                <!-- contenedor barra -->
            </div>    
        </div>
        <div class="actualizar">
            <form action="{% url 'app:post_ActualizarSemestre' %}" method="POST">
                {% csrf_token %}
                 
                <h2>Actualizar Semestre</h2>
                <label for="">Semestre:</label>
                <input type="text" name="semester">
                <button class="guardar">Guardar</button>
                
                
            </form>            
        </div>        
        
    </div>
    
</body>
</html>