{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/convocatoria_especifica.css' %}">
    <title>Convocatoria</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href=""><h1>Usuario</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="Convocatoria">
            {% if convocatoria %}
                <br><br>
                <h1>Convocatoria:</h1>  
                <br>
                <br>
                <div class="datos">
                    
                    <div class="muestra">
                        <br><br>
                        
                        <label for="" >Nombre:</label>
                        <label for="">{{convocatoria.nombre}}</label>
                        <br>
                        <label for="">Fecha Inicial:</label>
                        <label for="">{{convocatoria.fecha_inicial}}</label>
                        <br>
                        <label for="">Fecha de Cierre:</label>
                        <label for="">{{convocatoria.fecha_final}}</label>
                        <br>
                        <label for="">Estado:</label>
                        {% if convocatoria.abierta == 1 %}
                            <label for="">{{"Abierta"}}</label>
                        {% else %}
                            <label for="">{{"Cerrada"}}</label>
                        {% endif %}
                        <br>
                        <label for="">{{convocatoria.id}}</label>
                        <br>
                        
                        <table>
                            <thead>
                                <tr>
                                    <th class="primera">Postulantes</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Nombre de algún postulante</td>
                                    
                                        </a>
                                    </td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="icono">
                        <a href="{% url 'app:editarConvocatoria' convocatoria.id %}"><img src="{% static 'app/icon/editar-convo.jpg' %}" alt="AL" width="70px"></a>
                    </div>
                    
                </div>
                <a href="{% url 'app:listaPostulaciones' %}"><button class="postular">Postular a esta Convocatoria</button></a>
                <a href="{% url 'app:cerrarlaconvocatoria' convocatoria.id %}"><button class="cerrar">Cerrar Convocatoria</button></a>
            {% endif %} 
        </div>
    </div>
        
    
</body>
</html>