{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/Icoordinador.css' %}">
    <title>Coordinador</title>
</head>
<body>
    <div class="Principal">
        <div class="contenedor">
            <div class="header">
                <a class="Usuario" href=""><h1>Coordinador</h1></a>
                <a class="salir" href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
            </div>
            <div class="contenedorbarra1">
                <!-- contenedor barra -->
            </div>    
        </div>
        <div class="botones">
            <a href="{% url 'app:ActualizarSemestre' %}"><button class="ActualizarS">Actualizar Semestre de Postulaciones</button></a>
            <br>
            <a href="{% url 'app:listaEmpresas' %}"><button class="CE">Consultar Empresas</button></a>
            <br>
            <a href="{% url 'app:listaConvocatorias' %}"><button class="CC">Consultar Convocatorias</button></a> 
                            
        </div>
        <div class="restodebotones">
            <a href="{% url 'app:listadoEstudiantes' %}"><button class="CLE">Consultar lista de estudiantes</button></a>
            <br>
            <a href="{% url 'app:listadoEstuadiantesenPracticas' %}"><button class="CLEP">Consultar Listado de Estudiantes en Práctica</button></a>
            <br>
            <a href="{% url 'app:crearEstudiante' %}"><button class="crearE">Crear Estudiante</button></a>
        </div>
        
    </div>
    
</body>
</html>