{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/crear-perfilEstudiante.css' %}">
    <title>Crear Estudiante</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">    
            <a  class="usuario" href="Coordinador.html"><h1>Coordinador</h1></a>
            <a  href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>  
        </div>
        <div class="creacion">
            
            <div class="datos">
                <h1>Crear Estudiante</h1>
                <h2>Usuario:</h2>
                <h2>Contraseña:</h2>
                <h2>Nombres:</h2>
                <h2>Apellidos:</h2>
                <h2>Correo Electrónico:</h2>
                
            </div>
            <div class="entrada">
                <form action="{% url 'app:post_crearEstudiante' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="usuario" id="">
                    <br>
                    <input type="password" name="contraseña" id="">
                    <br>
                    <input type="text" name="nombres" id="">
                    <br>
                    <input type="text" name="apellidos" id="">
                    <br>
                    <input type="text" name="correo" id="">
                    <button type="submit">CREAR</button>
                </form>
            </div>
            
        </div>
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
    </div>
</body>
</html>