{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/crear_convocatoria.css' %}">
    <title>Crear Convocatoria</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="{% url 'app:Empresa' %}"><h1>Empresa</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
            {% block titulo %}<h1>Crear una Nueva Convocatoria</h1>{% endblock %}
        </div>
        <div class="formulario">
            <div class="creacion">
                {% block contenido %}
                <div class="datos">
                    <h2>*Nombre de la Convocatoria:</h2>

                    <h2>Fecha Inicial:</h2>
                    
                    <h2>Fecha de cierre:</h2>
                    
                    <h2>Descripción:</h2>

                    
                </div>
                <div class="entrada">
                    <form action="{% url 'app:post_crearConvocatoria' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="nombre" id="">
                        <br>
                        <input type="date" name="fechaI" id="">
                        <br>
                        <input type="date" name="fechaC" id="">
                        <textarea name="des" id="" cols="70" rows="6"></textarea>
                        <br>
                        <button type="submit">CREAR</button>
                    </form>
                </div>
                {% endblock %}
            </div>
            <!-- <input class="descripcion" type="text" > -->
        </div>

    </div>
        
    
</body>
</html>