{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/crear-perfilEmpresas.css' %}">
    <title>Crear Empresa</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <h2>Portal de Convocatorias de Practicas Facultad de ingeniería de telecomunicaciones</h2>
            <h1>CREAR EMPRESA</h1>
        </div>
        <div class="creacion">
            
            <div class="datos">
                <h1>Crear empresa</h1>
                <h2>Razón Social:</h2>
                
                <h2>Nombre de usuario:</h2>
                
                <h2>Contraseña:</h2>
                
                <h2>Ciudad:</h2>
                
                <h2>Nombre de Contacto:</h2>
                
                <h2>Correo Electrónico:</h2>
                
            </div>
            <div class="entrada">
                <form action="{% url 'app:post_crearEmpresa' %}" method="POST">
                {% csrf_token %}
                    <input type="text" name="razonsocial" id="">
                    <br>
                    <input type="text" name="usuario" id="">
                    <br>
                    <input type="password" name="contraseña" id="">
                    <br>
                    <input type="text" name="ciudad" id=""> 
                    <br>
                    <input type="text" name="contacto" id="">
                    <br>
                    <input type="text" name="correo" id="">

                    <button type="submit">CREAR</button>
                </form>
            </div>
            
        </div>
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
    </div>
</body>
</html>