{% extends 'app/Crear-Convocatoria.html' %}

{% block titulo %}
    <h1>Editar la Convocatoria</h1>
{% endblock %}

{% block contenido %}
<div class="datos">
    <br> <br> <br>
    <h2>*Nombre de la Convocatoria:</h2>

    <h2>Fecha Inicial:</h2>
    
    <h2>Fecha de cierre:</h2>
    
</div>
{% if identificador %}
    <div class="entrada">
        <form action="{% url 'app:post_editarConvocatoria' identificador %}" method="POST">
            {% csrf_token %}
            <br><br><br>
            <input type="text" name="nombre" id="">
            <br>
            <input type="date" name="fechaI" id="">
            <br>
            <input type="date" name="fechaC" id="">
            <br>
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
{% endif %}
{% endblock %}