{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/Iempresa.css' %}">
    <title>Empresa</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <!-- {% if nombre %}
            <a class="Usuario" href=""><h1>{{ request.user.first_name }}</h1></a>
            {% endif %} -->
            <span>{{ request.user.username }}</span>
            <a href="{% url 'app:post_logout' %}">Lareputa</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
     
            <a href="{% url 'app:listaConvocatoriasespecificas' %}"><button class="mirar">Consultar Convocatorias</button></a>
           
            <a href="{% url 'app:crearConvocatoria' %}"><button class="crear">Crear Convocatoria</button></a>
        
    </div>
        
     
    
</body>
</html>