{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/error.css' %}">
    <title>Mensaje de Error</title>
</head>
<body>
    <br><br><br><br>
    <h1>ERROR DE AUTENTICACIÓN</h1>
    <br>
    <h4>Usted no tiene acceso a esta página, por favor autentíquese en el perfil correcto para acceder</h4>
</body>
</html>