{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/estudiante.css' %}">
    <title>Estudiante</title>
</head>
<body>
    <div class="Principal">
    
        <div class="contenedor">
            <div class="header">
                <a class="Usuario" href=""><h1>Nombre del estudiante</h1></a>
                <a href="index-PaginaInicio.html">Cerrar Sesión</a>
            </div>
            
            <div class="contenedorbarra1">
                <!-- contenedor barra -->
            </div>
        </div>
        <div class="botones">
            <a href="Perfil-estudiante.html"><button class="ActualizarP">Editar Perfil</button></a>
            <br>
            <a href="Lista-postulaciones.html"><button class="CP">Consultar mis Postulaciones</button></a>
            <br>
            <a href="lista-convocatorias-estudiantes.html"><button class="CC">Consultar Convocatorias Abiertas</button></a> 
         </div>             
    </div>
        
    
</body>
</html>