{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/estilo-Inicio.css' %}">
    <title>Acceder</title>
</head>
<body>
    
    <div class="Principal">
        <div class="contenedor">
            <div class="header">
                <h2>Portal de Convocatorias de Practicas</h2>
                <h1>Facultad de Ingeniería de Telecomunicaciones</h1>
            </div>
            <div class="contenedor1">
                <!-- contenedor 1 -->
            </div>
            <div class="contenedorbarra1">
                <!-- contenedor barra -->
            </div>
            <div class="contenedorbarra2">
                <!-- contenedor barra -->
            </div>
        </div>
        <div class="contenedorIngresar">
            <!-- contenedorIngresar -->
            <form action="{% url 'app:post_login' %}" method="POST">
                {% csrf_token %}
                <h4 class="usur">Usuario:</h4>
                    
                <input class="usuario" type="text" name="usuario">
                <br>
                <h4 class="contra">Contraseña:</h4>
                <input class="contraseña" type="password" name="clave" id="">
                
                <button class="IniS" type="submit">Iniciar Sesión</button>
                <!-- <a href=""></a> -->
            </form>
            <a href="{% url 'app:Empresa' %}">Empresa</a>
            <a href="{% url 'app:Estudiante' %}">Estudiante</a>
            <a href="{% url 'app:Coordinador' %}">Coordinador</a>
            <br>
            <a href="{% url 'app:crearEmpresa' %}"><button class="CRE">Crear Empresa</button></a>
            <div class="datos">
                
            </div>
        </div>
    </div>  
</body>
</html>