{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/lista-postulaciones.css' %}">
    <title>Mis Postulaciones</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="Estudiante.html"><h1>Nombre del Estudiante</h1></a>
            <a href="index-PaginaInicio.html">Cerrar Sesión</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="postulaciones">
            <br>
            <br>
            <h1>Listado de</h1>  
            <h1>Postulaciones:</h1>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Nombre de Convocatoria</th>
                        <th>Empresa</th>
                        <th>Fecha de Postulación</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convocatoria 1</td>
                        <td>Empresa 1</td>
                        <td>##/##/##</td>
                        <td>Rechazado</td>
                        <td><a href="Postulacion-especifica.html"><img src="icon/ojo-ver.jpg" 
                            alt="AL"
                            width="30px">
                            </a>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
        
    
</body>
</html>