{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/listado-estudiantes.css' %}">
    <title>Estudiantes</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="{% url 'app:Coordinador' %}"><h1>Coordinador</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="estudiantes">
            <br>
            <br>
            <h1>Listado de</h1>  
            <h1>Estudiantes:</h1>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo Electrónico</th>
                        <th>Postulaciones Aceptadas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in estudiantes %}
                        <tr>
                            <td>{{ e.usuarios.first_name }}</td>
                            <td>{{ e.usuarios.last_name }}</td>
                            <td>{{ e.usuarios.email }}</td>
                            <td>{{ 0 }}</td>
                            <td>
                                <a href="{% url 'app:perfilEstudiante' e.id %}"><img src="{% static 'app/icon/ojo-ver.jpg' %}" 
                                    alt="AL"
                                    width="30px">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                                       
                </tbody>
            </table>
        </div>
    </div>
        
    
</body>
</html>