{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/lista-Convocatorias.css' %}">
    <title>Convocatorias</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="{% url 'app:Coordinador' %}"><h1>Coordinador</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="convocatorias">
            <h1>Convocatorias</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Empresa</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Cierre</th>
                        <th>N° Postulaciones</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cc in convocatorias %}
                        <tr>
                            <td>{{ cc.nombre }}</td>
                            <td><a href="{% url 'app:perfilEmpresa' %}">{{ cc.empresa.usuarios.username }}</a></td>
                            <td>{{ cc.fecha_inicial }}</td>
                            <td>{{ cc.fecha_final }}</td>
                            <td>0</td>
                            <td>{{ cc.abierta }}</td>
                            <td><a href="{% url 'app:laconvocatoria' cc.id %}"><img src="{% static 'app/icon/ojo-ver.jpg' %}" 
                                alt="AL"
                                width="30px">
                                </a>
                            </td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        
    
</body>
</html>