{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/lista-empresas.css' %}">
    <title>Empresas</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="{% url 'app:Coordinador' %}"><h1>Coordinador</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="empresas">
            <br>
            <br>
            <h1>Empresas Vinculadas</h1>  
            <br><br><br>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Nombre de Contacto</th>
                        <th>Correo Electronico</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for em in empresas %}
                        <tr>
                            <td>{{ em.usuarios.username }}</td>
                            <td>{{ em.ciudad }}</td>
                            <td>{{ em.nombre_contacto }}</td>
                            <td>{{ em.usuarios.email }}</td>
                            <td>{{ em.id }}</td>
                            
                            <td>
                                <a href="{% url 'app:perfilEmpresa' em.id %}"><img src="{% static 'app/icon/ojo-ver.jpg' %}" 
                                    alt="AL"
                                    width="30px">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                                       
                </tbody>
            </table>
        </div>
    </div>
        
    
</body>
</html>