{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/lista_convocatorias_especificas.css' %}">
    <title>Tus Convocatorias</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href=""><h1>Usuario</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="convocatorias">
            <br>
            <br>
            <h1>Convocatorias</h1>
            {% if convocatoria %}
                <h1>{{convocatoria.empresa.usuarios.username}}</h1>
            {% endif %}
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Cierre</th>
                        <th>N° Postulaciones</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in convocatoria %}
                        <tr>
                            <td>{{ v.nombre }}</td>
                            <td>{{ v.fecha_inicial }}</td>
                            <td>{{ v.fecha_final }}</td>
                            <td>{{ 0 }}</td>
                            {% if v.abierta == 1 %}
                                <td>{{ "Abierta" }}</td>
                            {% else %}
                                <td>{{ "Cerrada" }}</td>
                            {% endif %}
                            <td>{{v.id}}</td>
                            <td>
                                <a href="{% url 'app:laconvocatoria' v.id %}"><img src="{% static 'app/icon/ojo-ver.jpg' %}" 
                                    alt="AL"
                                    width="30px">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                                       
                </tbody>
            </table>
        </div>
    </div>
        
    
</body>
</html>