{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/listado-Pestudiantes.css' %}">
    <title>Estudiantes en Prácticas</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="Coordinador.html"><h1>Coordinador</h1></a>
            <a href="index-PaginaInicio.html">Cerrar Sesión</a>
        </div>
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="estudiantes">
            <br>
            <br>
            <h1>Listado de</h1>  
            <h1>Estudiantes en Práctica:</h1>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo Electrónico</th>
                        <th>en Empresa</th>
                        <th>Fecha Inicial</th>
                        <th>Fecha Final</th>
                        <th>Semestre Prácticas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>####</td>
                        <td>### ####</td>
                        <td>####@######.com</td>
                        <td>Empresa ##</td>
                        <td>##/##/##</td>
                        <td>##/##/##</td>
                        <td>2020-2</td>
                        <td><a href="Perfil-estudiante.html"><img src="icon/ojo-ver.jpg" 
                            alt="AL"
                            width="30px">
                            </a>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
        
    
</body>
</html>