{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/perfil-estudiante.css' %}">
    <title>Estudiante</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href=""><h1>Usuario</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        <div class="Mostrar">
            <div class="datos">
                <br>
                <br>
                <br>
                <br>
                {% if estudiante %}
                    <h1>Nombre</h1>
                    <span>{{estudiante.usuarios.first_name}}</span>
                    <h1>Apellido</h1>
                    <span>{{estudiante.usuarios.last_name}}</span>
                    <br>
                    <h2>Correo Electrónico:</h2>
                    <span>{{estudiante.usuarios.email}}</span>
                    <br>
                    <h2>Fortalezas:</h2>
                    <br><br><br>
                    <h2>Herramientas:</h2>
                {% endif %}
                <br><br><br><br><br>
                <label class="definir" for="">Definir estado:</label>
                <select name="OS">
                    <option selected ></option>
                    <option value="1">Aceptar</option> 
                    <option value="2">Rechazar</option> 
                </select>
            </div>
            <div class="cambios">
                <a href="Estudiante.html"><button >Aplicar Cambios</button></a>
            </div>
            {% if estudiante %}
                <div class="fortalezas"><span>{{estudiante.fortalezas}}</span></div>
                <div class="Herramientas"><span>{{estudiante.herramientas}}</span></div>    
            {% endif %}
        
        </div>
        
        
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
    </div>
        
    
</body>
</html>