{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/perfil-empresa.css' %}">
    <title>Empresa</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="Coordinador.html"><h1>Coordinador</h1></a>
            <a href="{% url 'app:PaginaInicio' %}">Cerrar Sesión</a>
        </div>
        <div class="Mostrar">
            {% if empresa %}
                <h1>{{ empresa.usuarios.username }}</h1>
                <div class="datos">
                    <h2>Fecha de creación:</h2>
                    <span>{{ empresa.fecha_creacion }}</span>
                    <h2>Ciudad:</h2>
                    <span>{{ empresa.ciudad }}</span>
                    <h2>Nombre de Contacto:</h2>
                    <span>{{ empresa.nombre_contacto }}</span>
                    <h2>Correo Electrónico:</h2>
                    <span>{{ empresa.usuarios.email }}</span>
                </div>
                <a href="{% url 'app:listaConvocatoriasespecificas' %}"><button >Lista de Convocatorias</button></a>
            {% endif %}
        </div>
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
    </div>
        
    
</body>
</html>