{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/postulacion-especifica.css' %}">
    <title>Postulación</title>
</head>
<body>
    
    <div class="contenedor">
        <div class="header">
            <a class="Usuario" href="Estudiante.html"><h1>Nombre del Estudiante</h1></a>
            <a href="index-PaginaInicio.html">Cerrar Sesión</a>
        </div>
        <div class="contenedorbarra1">
            <!-- contenedor barra -->
        </div>
        <div class="contenedorbarra2">
            <!-- contenedor barra -->
        </div>
        <div class="post"> 
            <div class="contenido">
                <br>
                <h2>Empresa:</h2>
                <br>
                <h2>Nombre de la Convocatoria:</h2>
                <h2>Descripción:</h2>
                <br><br><br><br><br><br><br><br>
                <h2>Fecha Inicial:</h2>
                <h2>Fecha de Cierre:</h2>
                <h2>Fecha de Postulación</h2>
                <br>
                <h2 style="color: black;">Estado:</h2>
            </div>
            <div class="descripcion"></div>
            
        </div>
        
    </div>
        
    
</body>
</html>