*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 50px auto 100px / 0.2fr 1fr;
}
.header{
    grid-row: 1/2 ;
    grid-column: 1/3;
    background: blue;
    color: white;
}

.navegacion{
    grid-row: 2/3;
    grid-column: 1/2;
    background: gray
}

.contenido{
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 20px;
}

.footer{
    grid-row: 3/3;
    grid-column: 1/3;
    background: rgb(41, 41, 41);
    color: white;
    text-align: center;
}