*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: white;
      display: grid;
      grid-template: 80px 80px 1fr/ 13vw 1fr;
  }
  .contenedorbarra1{
    background: #FFC640;
    grid-column: 1;
    grid-row: 2/4;
    width: 13vw;
    border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
}
.contenedorbarra2{
    background: #FFEAAF;
    grid-column:2;
    grid-row: 2/3;
    border-bottom: 1px solid #707070;
}
.creacion{
    font-size: 15px;
}
.creacion h2{
    margin-top: 30px;
    margin-left: 70px;
    font-family: 'Segoe UI';
    font-weight: normal;
}
  .header{
      background: linear-gradient(to bottom, #4A4834, #A89E5C); 
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
  }
  .formulario{
        grid-row: 3;
        grid-column: 2;
      display: grid;
      grid-template-rows:220px 1fr;
  }
  .creacion button{
    background-color: #FF9924;
    color: white;
    margin-top: 50px;
    width: 185px;
    height: 50px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bolder;
    border: 1px  solid #707070 ;
    border-radius: 30px;
    justify-self: right;
  }
  .creacion button:hover{
    cursor: pointer;
  }
  .creacion button:focus{
    outline: none;
  }
  .creacion button:active{
    background: #FE802D;
  }
  .creacion{
    display: grid;
    grid-template: 1fr/1fr;
  }
  .datos{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .entrada{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 400px;
    margin-top: 40px;
  }
  .entrada input{
    margin-bottom: 38px;
    width: 300px;
    border: 1px solid white;
    border-bottom: 1px solid #707070;    
  }
  .entrada input{
    outline: none;
  }
  .descripcion{
    grid-row: 2;
    border: 1px  solid #707070 ;
    width: 600px;
    height: 100px;
    margin-left: 300px;
  }

  .Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
}