*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Principal{
      display: grid;
      grid-template: 80px 1fr/ 1fr 1fr;
      
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 1fr 500px;
  }
  .contenedorbarra1{
    background: #FFC640;
    grid-column: 2;
    grid-row: 2;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
  }
  .header{
      background: linear-gradient(to bottom, #4A4834, #A89E5C); 
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
      font-family: 'Segoe UI';
  }

    .botones{
        grid-row: 2;
        grid-column: 1/2;
    }
    .restodebotones{
        grid-row: 2;
        grid-column: 2;
    }
  .ActualizarS{
    background-color: #FF9924;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    width: 300px;
    height: 80px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  .CE{
    background: linear-gradient(to bottom, #804D12, #FF9924 20%);
    color: white;
    margin-top: 120px;
    margin-left: 370px;
    width: 250px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
    justify-self: left;
  }
  .CC{
    background: linear-gradient(to bottom, #804D12, #FF9924 20%);
    color: white;
    margin-top: 50px;
    margin-left: 370px;
    width: 250px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  .CLE{
    background: linear-gradient(to bottom, #804D12, #FF9924 20%);
    color: white;
    margin-top: 180px;
    margin-left: 50px;
    width: 450px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
    justify-self: left;
  }
  .CLEP{
    background: linear-gradient(to bottom, #804D12, #FF9924 20%);
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    width: 450px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  .crearE{
    background: linear-gradient(to bottom, #804D12, #FF9924 20%);
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    width: 450px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  
.Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
    
}
.crearE:focus{
  outline: none;
}
.crearE:hover{
  cursor: pointer;
}
.crearE:active{
  background:  #FFA32C;
}
.CE:focus{
  outline: none;
}
.CE:hover{
  cursor: pointer;
}
.CE:active{
  background:  #FFA32C;
}
.CC:focus{
  outline: none;
}
.CC:hover{
  cursor: pointer;
}
.CC:active{
  background:  #FFA32C;
}
.CLE:focus{
  outline: none;
}
.CLE:hover{
  cursor: pointer;
}
.CLE:active{
  background:  #FFA32C;
}
.CLEP:focus{
  outline: none;
}
.CLEP:hover{
  cursor: pointer;
}
.CLEP:active{
  background:  #FFA32C;
}
.ActualizarS:focus{
  outline: none;
}
.ActualizarS:hover{
  cursor:pointer;
}
.ActualizarS:active{
  background:  #FFA32C;
}
