*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .principal{
      display: grid;
      grid-template: 1fr/1fr;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 600px 1fr;
  }
  .header{
      background: linear-gradient(to bottom, #4A4834, #A89E5C); 
      grid-row: 1/2;
      grid-column: 1/2;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
      font-family: 'Segoe UI';
  }
  
  .contenedorbarra1{
      background: #FFC640;
      grid-column: 1;
      grid-row: 2;
      border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
    }
.Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
}

.mirar{
    width: 700px;
    height: 60px;
    background: linear-gradient(to bottom, #804D12, #FF9924 20%);
    color: white;
    margin-top: 250px;
    margin-left: 350px;
    font-family: 'Segoe UI';
    font-size: 25px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
}
.crear{
    width: 700px;
    height: 60px;
    background: linear-gradient(to bottom, #804D12, #FF9924 20%);
    color: white;
    margin-top: 60px;
    margin-left: 550px;
    font-family: 'Segoe UI';
    font-size: 25px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
    font-weight: bold;
}

.mirar:focus{
    outline: none;
}
.crear:focus{
    outline: none;
}
.mirar:hover{
    cursor: pointer;
}
.crear:hover{
    cursor: pointer;
}
.mirar:active{
    background:  #FFA32C;
}
.crear:active{
    background:  #FFA32C;
}