*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 13vw 1fr 1fr;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
  }
  .contenedorbarra1{
    background: #FFC640;
    grid-column: 1;
    grid-row: 2;
    width: 13vw;
    border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
}
.contenedorbarra2{
    background: #FFC640;
    grid-column:4;
    grid-row: 2;
    width: 13vw;
    border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
}

  .Mostrar h1{
    color: #FF8800;
    margin-left: 50px;
    font-family: Arial;
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 80px;
}
  .Mostrar h2{
    color: #4A4A4A;
    margin-left: 65px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}
  
  .Mostrar button{
    background-color: #FF9924;
    color: white;
    margin-top: 50px;
    margin-left: 330px;
    width: 320px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bolder;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }

  .Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
}