{% extends 'app/layout.html' %}

{% block contenido %}
    <h1>Una página hecha en Colombia</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis amet, numquam mollitia quasi modi delectus sapiente. Tempora ratione, dolor eos quasi cumque obcaecati explicabo quo, itaque cupiditate voluptate velit a.
    </p>
    <br>
{% endblock %}