{% extends 'app/layout.html' %}

{% block titulo %} 
    
{% endblock %}

{% block contenido %}
    <h1>Categorias</h1>
    <a href="{% url 'app:form_crear_categoria' %}">Crear Categoria</a>
    <ul>
        {% for c in categorias %}
        
            <li>{{ c.nombre }}</li>
        {% endfor %}
    </ul>
{% endblock %}
