{% extends 'app/layout.html' %}

{% block titulo %}
Crear categoría
{% endblock %}

{% block contenido %}

<form action="{% url 'app:post_crear_categoria' %}" method="POST"> 
    {% csrf_token %}
    <label for="nombre">Nombre de Categoria</label>
    <input type="text" name="nombre">
    <button type="submit">Crear</button>

</form>

{% endblock %}