{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockBuster</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
</head>
<body>

    <div class="container">
        <div class="header">
            
            <h1><img src="{% static 'app/img/BB.png' %}" alt="BB" width="6%">BlockBuster - <small>{% block titulo %} El mejor sitio {% endblock %}</small></h1>
        </div>
        <div class="navegacion">
            <a href="{%url 'app:index'%}">Inicio</a>
            <br>
            <a href="{%url 'app:peliculas'%}">Peliculas</a>
            <br>
            <a href="{%url 'app:categorias'%}">Categorias</a>
            <br>
            <a href="{%url 'app:acercade'%}">Acercade</a>
            
        </div>
        <div class="contenido">
            {% block contenido %}
            {% endblock %}
        </div>
        <div class="footer">
            <span>Derechos Reservados - BlockBuster copy</span>
        </div>
    </div>


</body>
</html>