
    {% extends 'app/layout.html' %}


    {% block contenido %}
    {% if pelicula %}
    <h1>{{pelicula.titulo}}</h1>
    <h3>Año</h3>
    <h3>{{pelicula.anio}}</h3>
    <h3>Sinopsis</h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit veritatis aperiam ullam sit incidunt accusamus, ad iste itaque delectus? Alias aliquam optio, ullam maiores illum rem consectetur excepturi esse aut.
    </p>
        {% if pelicula.actores %}
        <h3>Actores</h3>
        <p>{{ pelicula.actores }}</p>
        {% endif %}
    {% else %}
    <h1 style="color:red">La pelicula solicitada no existe!</h1>
    {% endif %}
    {% endblock %}
    
   
