{% extends 'app/layout.html' %}

{% block titulo %} 
    Peliculas
{% endblock %}

{% block contenido %}

<a href="{% url 'app:form_crear_pelicula' %}">Crear pelicula</a>
<table border="1" width="100%">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
    {% for p in peliculas %}
        <tr>
            <td>{{ p.titulo }}</td>
            <td>{{ p.anio }}</td>
            <td>
                <a href="{% url 'app:pelicula' p.id %}">Ver</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>
<body>
    <h1>Peliculas</h1>
    <p>lorem ipsum</p>
     <ul>
        {% for p in lista_peliculas %}
            <li>{{p}}</li>
        {%endfor%}
    </ul> 
    
    {% comment %}
        <ul>
        <li>Avatar</li>
        <li>Titanic</li>
        <li>Constantine</li>
        </ul>
    {% endcomment %}
    <hr>
    <span>Derechos reservados {{year}} - {{tienda}}</span>
</body>
</html> -->